# 3.0.3 (não 3.1): a spec usa idioma 3.0 (nullable, format: binary) e o
# Swagger UI tem bug com 3.1 — renderiza seletor de server POR OPERAÇÃO que
# ignora a seleção global (swagger-api/swagger-ui#9947, #9221).
openapi: 3.0.3
info:
  title: EasyEye — Integrators API
  version: "1.1.0"
  description: |
    API consumida pelo integrador desktop (EasyEye Integrator, em Rust).

    Fluxo geral:
      1. `POST /api/integrators/signin` com e-mail/senha do usuário integrador + `code`
         do integrador → recebe um token Bearer (Sanctum) com validade de 7 dias.
      2. Requests autenticados usam `Authorization: Bearer <token>`.
      3. O token renova automaticamente quando está a ≤ 1 dia útil de expirar, e é
         invalidado após 3 dias úteis sem uso (inatividade).
      4. `POST /api/integrators/check-token` valida/renova o token sem consumir um endpoint de negócio.

    Convenções:
      - Coleções paginadas seguem o envelope `{ data, links, meta }` do Laravel.
      - Recursos de exame usam o formato JSON:API-like `{ type, id, attributes, relationships }`.
      - `idOrCode` aceita UUID, código formatado (ex.: `PAC-0000000123`) ou o número inteiro do código.
      - Arquivos de exame são armazenados de forma PRIVADA; o campo `archive` retorna
        uma URL ASSINADA temporária (validade ~24h). Não cacheie a URL além disso.
      - Erros sempre retornam `{ "message": string }`; validação adiciona `{ "errors": {campo: [..]} }`.

    Rate limiting (por integrador):
      - `signin`: 10 req/min · `check-token`: 30 req/min.
      - Rotas `v1/*`: 120 req/min para LEITURA (GET/HEAD) e 40 req/min para ESCRITA,
        em buckets independentes. As respostas trazem `X-RateLimit-Limit` /
        `X-RateLimit-Remaining`; o `429 Too Many Requests` inclui `Retry-After`.

    Escopos de token (least-privilege):
      - O signin aceita `scope` (`read` | `write`). `read` emite token somente
        leitura; `write` ou ausente emite leitura+escrita. Operações de escrita
        com token read-only retornam `403`.
      - Tokens antigos mantêm compatibilidade por verbo até a renovação, sempre limitados ao perfil capture/worklist/support autorizado no Manager; renovação emite abilities por finalidade. O payload de signin nunca escolhe um perfil mais amplo.

    Idempotência:
      - Operações de escrita aceitam o header opcional `Idempotency-Key`
        (8–128 caracteres). Re-tentativas com a mesma chave devolvem a resposta
        de sucesso original com `Idempotency-Replayed: true`, sem reexecutar nem
        reconsumir cota. Recibos persistidos no banco, sem expiração de 24h; requisição, cota e recibo confirmam na mesma transação.
      - Uma rejeição 422 só permite corrigir a intenção congelada quando traz
        `Idempotency-Outcome: rolled-back`, `Idempotency-Key` igual à captura e
        `Integrator-Id` igual à instalação autenticada. Essa prova é emitida após
        rollback confirmado, sob lock, sem captura nem recibo confirmado em qualquer endpoint.
        Conflito 409, replay, sucesso, erro 5xx ou status 422 sozinho não autorizam alteração.

    Conformidade:
      - Acessos de leitura a dados sensíveis (pacientes/exames) são registrados em
        trilha de auditoria (LGPD Art. 37 / CFM Res. 2.227/2018).

# Nota: ao servir via /docs/api/spec, este bloco é substituído em runtime pela
# lista do ambiente (ApiDocsController::servers) — em homolog/produção o server
# de desenvolvimento local não aparece.
servers:
  - url: https://easyeye.app
    description: Produção
  - url: https://teste.easyeye.app
    description: Homologação
  - url: http://localhost:8085
    description: Desenvolvimento (local)

tags:
  - name: Auth
  - name: Equipments
  - name: Patients
  - name: Patient Exams
  - name: Exams
  - name: Exam Types
  - name: Schedules

security:
  - bearerAuth: []

paths:
  /api/integrators/signin:
    post:
      tags: [Auth]
      summary: Autentica o integrador e emite um token Bearer
      security: []
      description: "Rate limit: 10 req/min."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SigninRequest" }
      responses:
        "200":
          description: Autenticado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SigninResponse" }
        "401":
          description: Credenciais inválidas / usuário, integrador ou entidade inativos
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorValid" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/integrators/check-token:
    post:
      tags: [Auth]
      summary: Valida e (se necessário) renova um token
      security: []
      description: "Rate limit: 30 req/min."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CheckTokenRequest" }
      responses:
        "200":
          description: Token válido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CheckTokenResponse" }
        "400":
          description: Token não informado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorValid" }
        "401":
          description: Token inválido / expirado / entidade inativa
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorValid" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/integrators/signout:
    delete:
      tags: [Auth]
      summary: Revoga o token atual
      responses:
        "200":
          description: Token revogado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/integrators/v1/equipments:
    get:
      tags: [Equipments]
      summary: Lista equipamentos do integrador
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Search"
      responses:
        "200":
          description: Página de equipamentos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Page"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/EquipmentResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Equipments]
      summary: Cria um equipamento
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EquipmentUpsert" }
      responses:
        "200":
          description: Equipamento criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/EquipmentResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /api/integrators/v1/equipments/{equipment}:
    parameters:
      - $ref: "#/components/parameters/IdOrCode"
    get:
      tags: [Equipments]
      summary: Detalha um equipamento
      responses:
        "200":
          description: Equipamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/EquipmentResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Equipments]
      summary: Atualiza um equipamento
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EquipmentUpsert" }
      responses:
        "200":
          description: Equipamento atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/EquipmentResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [Equipments]
      summary: Remove um equipamento
      responses:
        "204": { description: Removido }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }


    patch:
      tags:
      - Equipments
      summary: Atualiza um equipamento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentUpsert'
      responses:
        '200':
          description: Equipamento atualizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EquipmentResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /api/integrators/v1/patients:
    get:
      tags: [Patients]
      summary: Lista pacientes da entidade
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Search"
      responses:
        "200":
          description: Página de pacientes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Page"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PatientResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/integrators/v1/patients/{patient}:
    parameters:
      - $ref: "#/components/parameters/IdOrCode"
    get:
      tags: [Patients]
      summary: Detalha um paciente
      responses:
        "200":
          description: Paciente
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/integrators/v1/patients/{patient}/exams:
    parameters:
      - $ref: "#/components/parameters/IdOrCode"
    get:
      tags: [Patient Exams]
      summary: Lista exames de um paciente
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Search"
      responses:
        "200":
          description: Página de exames
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Page"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PatientExamResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Patient Exams]
      summary: Envia um exame para o paciente (multipart)
      description: |
        Consome 1 da cota mensal `api_monthly_exam_sends` (reserva atômica).
        `{patient}` DEVE ser um UUID. Aceita `Idempotency-Key` para re-tentativa segura.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: "#/components/schemas/ExamUpload" }
      responses:
        "201":
          description: Exame criado
          headers:
            Idempotency-Replayed:
              schema: { type: boolean }
              description: Presente (`true`) quando a resposta é replay de um `Idempotency-Key` anterior.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientExamResource" }
        "400":
          description: "`Idempotency-Key` com formato inválido"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /api/integrators/v1/patients/{patient}/exams/{exam}:
    parameters:
      - $ref: "#/components/parameters/IdOrCode"
      - name: exam
        in: path
        required: true
        schema: { type: string }
        description: "UUID ou código do exame (ex.: EXM-0000000123)"
    get:
      tags: [Patient Exams]
      summary: Detalha um exame
      responses:
        "200":
          description: Exame
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientExamResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Patient Exams]
      summary: Atualiza um exame
      description: |
        Consome 1 da cota mensal `api_monthly_exam_sends` (reserva atômica).
        Para reenviar o arquivo, use a variante multipart via POST nesta mesma URL.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: "#/components/schemas/ExamUpload" }
      responses:
        "200":
          description: Exame atualizado
          headers:
            Idempotency-Replayed:
              schema: { type: boolean }
              description: Presente (`true`) quando a resposta é replay de um `Idempotency-Key` anterior.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientExamResource" }
        "400":
          description: "`Idempotency-Key` com formato inválido"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
    post:
      tags: [Patient Exams]
      summary: Atualiza um exame com novo arquivo (multipart)
      description: Rota dedicada `patients.exams.update_multipart` (PUT não trafega multipart de forma confiável).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: "#/components/schemas/ExamUpload" }
      responses:
        "200":
          description: Exame atualizado
          headers:
            Idempotency-Replayed:
              schema: { type: boolean }
              description: Presente (`true`) quando a resposta é replay de um `Idempotency-Key` anterior.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientExamResource" }
        "400":
          description: "`Idempotency-Key` com formato inválido"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
    delete:
      tags: [Patient Exams]
      summary: Remove um exame
      responses:
        "204": { description: Removido }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }


    patch:
      tags:
      - Patient Exams
      summary: Atualiza um exame
      description: 'Consome 1 da cota mensal `api_monthly_exam_sends` (reserva atômica).

        Para reenviar o arquivo, use a variante multipart via POST nesta mesma URL.

        '
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExamUpload'
      responses:
        '200':
          description: Exame atualizado
          headers:
            Idempotency-Replayed:
              schema:
                type: boolean
              description: Presente (`true`) quando a resposta é replay de um `Idempotency-Key`
                anterior.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PatientExamResource'
        '400':
          description: '`Idempotency-Key` com formato inválido'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/integrators/v1/exams:
    post:
      tags: [Exams]
      summary: Envia um exame resolvendo paciente/médico pelo agendamento (multipart)
      description: |
        Informe `schedule_identifier` OU `patient_identifier`. Consome 1 da cota
        mensal `api_monthly_exam_sends` (reserva atômica).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: "#/components/schemas/ExamUploadByIdentifier" }
      responses:
        "201":
          description: Exame criado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientExamResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: "Conflito tipado de chave/payload ou requisição em processamento. Confira code." }
        "422": { $ref: "#/components/responses/ValidationError" }

  /api/integrators/v1/exams/{exam}/receipt-reconciliation:
    post:
      tags: [Exams]
      summary: Reconcilia um original legado com prova de captura e contexto clínico exato
      description: |
        Não envia outro arquivo nem consome cota. Exige UUIDs canônicos da clínica
        e equipamento pertencente ao integrador autenticado. Lê o original remoto
        em streaming limitado a 10 MiB e confere SHA-256, bytes e vínculos.
        Original ausente, contexto contraditório ou aquisição já vinculada a outro
        registro falham sem adotar a captura. Confira demografia e origem antes
        de confirmar a reconciliação. Revisão clínica e completude seguem desconhecidas.
      parameters:
        - name: exam
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, format: uuid }
          description: Deve ser idêntica ao capture_id.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReceiptReconciliation" }
      responses:
        "200":
          description: Original e contexto comprovados; resposta pode ser replay persistente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/PatientExamResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Prova ou contexto divergente; confira o code tipado e faça revisão manual." }
        "422": { $ref: "#/components/responses/ValidationError" }

  /api/integrators/v1/examtypes:
    get:
      tags: [Exam Types]
      summary: Lista tipos de exame (globais + da entidade)
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Search"
      responses:
        "200":
          description: Página de tipos de exame
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Page"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/ExamTypeResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/integrators/v1/examtypes/{examtype}:
    parameters:
      - $ref: "#/components/parameters/IdOrCode"
    get:
      tags: [Exam Types]
      summary: Detalha um tipo de exame
      responses:
        "200":
          description: Tipo de exame
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ExamTypeResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/integrators/v1/schedules:
    get:
      tags: [Schedules]
      summary: Lista agendamentos
      description: Sem `search`/`date`, retorna os agendamentos de hoje.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Search"
        - name: date
          in: query
          schema: { type: string, format: date }
          description: Filtra por dia (YYYY-MM-DD)
      responses:
        "200":
          description: Página de agendamentos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Page"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/ScheduleResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/integrators/v1/schedules/{schedule}:
    parameters:
      - $ref: "#/components/parameters/IdOrCode"
    get:
      tags: [Schedules]
      summary: Detalha um agendamento
      responses:
        "200":
          description: Agendamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ScheduleResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/integrators/v1/clinic-resources:
    get:
      summary: Recursos de agenda da clínica
      description: Token worklist:read; plano clínico necessário.
      responses:
        '200':
          description: Resposta válida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClinicResource'
                  links:
                    type: object
                    additionalProperties: false
                    properties: {}
                  meta:
                    $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/integrators/v1/updates:
    get:
      summary: Atualização da coorte autorizada
      description: Token updates:read; disponível para recuperação operacional sem licença clínica. Canal/coorte obtidos
        do cadastro autenticado, nunca do query. Win7 SP1 mínimo 6.1.7601, conforme metadados assinados. Legacy unsigned
        installable=false. URL efêmera fora da assinatura; cliente usa allowlist HTTPS sem bearer/redirect. Sequência/validade/key_id/minOS/minclient/mincontract/rollback
        são assinados.
      responses:
        '200':
          description: Resposta válida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/UpdateManifest'
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - name: platform
        in: query
        required: true
        schema:
          type: string
      - name: arch
        in: query
        required: true
        schema:
          type: string
      - name: os_version
        in: query
        required: false
        schema:
          type: string
      - name: current_version
        in: query
        required: false
        schema:
          type: string
  /api/integrators/v1/queue-health:
    put:
      summary: Saúde operacional minimizada
      description: Token telemetry:write. Máximo64KiB; array problems50 e devices100; dados validados whitelist. Snapshot
        atual e histórico7dias; estado observado não prova revisão clínica.
      responses:
        '204':
          description: Sem conteúdo
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueHealth'
  /api/integrators/v1/commands:
    get:
      summary: Até20 comandos pendentes não expirados
      description: Token commands:read. Entrega pelo menos uma vez; efeito idempotente no cliente; prazo obrigatório
        nos novos comandos.
      responses:
        '200':
          description: Resposta válida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    maxItems: 20
                    items:
                      $ref: '#/components/schemas/CommandResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/integrators/v1/commands/{command}/ack:
    post:
      summary: Resultado terminal atômico, primeiro vencedor
      description: Token commands:ack. Resultado <=16KiB, schema whitelist por tipo. ACK concorrente nunca altera
        terminal. Expiração vence ACK tardio. Legacy errorstring aceito e descartado, persistido somente código genérico.
      responses:
        '204':
          description: Sem conteúdo
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandAck'
      parameters:
      - name: command
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /api/integrators/v1/equipment-operations/{operation}:
    get:
      summary: Recibo durável de operação de equipamento
      description: Token equipment:write e licença clínica; scoped integrator/actor. Replay de create/update permanece
        além24h, mesmo UUID equipamento. Conflito immutablepayload409.
      responses:
        '200':
          description: Resposta válida
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/EquipmentResource'
                  meta:
                    type: object
                    additionalProperties: false
                    properties:
                      operation_id:
                        type: string
                        format: uuid
                      config_generation:
                        type: integer
                        minimum: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - name: operation
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /api/integrators/v1/offline-snapshot:
    get:
      summary: Snapshot completo por recurso e calendário
      description: Token worklist:read e licença clínica. Janela<=7dias, <=500registros combinados patients+schedules
        e JSON<=1MiB; TTL24h. Somente pacientes referenciados. Excesso422 snapshot_limit_exceeded exige janela menor,
        nunca partialcomplete. clinic_date/local_date_time calculados no clinic_timezone; date_time serializa UTC.
        Cache não autoriza upload; alterações do servidor são revalidadas na escrita.
      responses:
        '200':
          description: Resposta válida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - name: clinic_resource_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: date_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        required: true
        schema:
          type: string
          format: date

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum

  parameters:
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: per_page
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      description: Máximo 100 itens por página.
    Search:
      name: search
      in: query
      schema: { type: string }
    IdOrCode:
      name: id
      in: path
      required: true
      schema: { type: string }
      description: "UUID, código formatado (ex.: PAC-0000000123) ou o número inteiro do código."
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema: { type: string, pattern: "^[A-Za-z0-9_-]{8,128}$" }
      description: >-
        Chave de idempotência opcional (8–128 caracteres: letras, dígitos, `-`
        ou `_`). Re-tentativas de escrita com a mesma chave devolvem a resposta
        de sucesso original (header `Idempotency-Replayed: true`) sem reexecutar
        a operação nem consumir cota novamente. Recibo persistente por clínica, integrador, método, endpoint e chave. Payload diferente retorna 409 com code=idempotency_payload_conflict; somente code=idempotency_in_progress permite retentativa automática.

  responses:
    Unauthorized:
      description: Token ausente, inválido ou expirado
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: >-
        Plano sem acesso à API de integradores, cota mensal esgotada ou token
        sem escopo para a operação (ex.: token read-only tentando escrever).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorValid" }
    Conflict:
      description: >-
        Já há uma requisição com o mesmo `Idempotency-Key` em processamento.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ValidationError:
      description: Erro de validação
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ValidationError" }
    TooManyRequests:
      description: Limite de requisições excedido
      headers:
        Retry-After:
          schema: { type: integer }
          description: Segundos até poder tentar de novo
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    SigninRequest:
      type: object
      description: Credenciais do usuário integrador + código do integrador (dispositivo).
      required:
      - email
      - password
      - code
      properties:
        email:
          type: string
          format: email
          description: E-mail do usuário integrador cadastrado pela clínica no painel.
          example: integrador@clinicavisao.com.br
        password:
          type: string
          format: password
          description: Senha do usuário integrador.
          example: S3nh@Forte!2026
        code:
          type: string
          description: Código do integrador vinculado ao usuário. Aceita o formato canônico com zero-padding (`EI-0000000001`),
            o formato abreviado (`EI-1`) ou lower-case (`ei-1`) — todos são normalizados internamente. Cada instalação
            do EasyEye Integrator usa o seu próprio código.
          example: EI-1
        scope:
          type: string
          enum:
          - read
          - write
          description: 'Escopo opcional do token. `read` emite token somente leitura; `write` (ou ausente) emite token
            de leitura+escrita. Tokens são barrados por verbo: escrita exige escopo `write`.'
          example: write
        installation_id:
          type: string
          format: uuid
          nullable: true

    CheckTokenRequest:
      type: object
      required:
      - token
      properties:
        token:
          type: string
          description: Somente string no corpo JSON/form. Validade, ator proprietário e inatividade usam a mesma política
            da API.
          example: 12|wXyZ9aBcDeFgHiJkLmNoPqRsTuVw0123456789ab
          maxLength: 512

    Error:
      type: object
      properties:
        message: { type: string }
      required: [message]
    ErrorValid:
      type: object
      properties:
        message: { type: string }
        valid: { type: boolean, example: false }
      required: [message]
    ValidationError:
      type: object
      properties:
        message: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }
      required: [message, errors]

    Page:
      type: object
      properties:
        data:
          type: array
          items: {}
        links:
          type: object
          properties:
            first: { type: string, nullable: true }
            last: { type: string, nullable: true }
            prev: { type: string, nullable: true }
            next: { type: string, nullable: true }
        meta:
          type: object
          properties:
            current_page: { type: integer }
            last_page: { type: integer }
            per_page: { type: integer }
            total: { type: integer }

    SigninResponse:
      type: object
      properties:
        access_token:
          type: string
          description: >-
            Token a enviar em todas as chamadas autenticadas, no header
            "Authorization: Bearer <access_token>". Validade de 7 dias, com
            renovação automática quando usado próximo do vencimento.
          example: "12|wXyZ9aBcDeFgHiJkLmNoPqRsTuVw0123456789ab"
        token_type: { type: string, example: Bearer }
        expires_at:
          type: string
          format: date-time
          description: Data/hora de expiração do token (ISO 8601, UTC).
          example: "2026-06-17T18:30:00.000000Z"
        user:
          type: object
          properties:
            id: { type: string, format: uuid }
            entity_id: { type: string, format: uuid }
            name: { type: string }
            email: { type: string, format: email }
            email_verified_at: { type: string, format: date-time, nullable: true }
            active: { type: boolean }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }
        integrator:
          type: object
          properties:
            id: { type: string, format: uuid }
            entity_user_integrator_id: { type: string, format: uuid }
            code: { type: string }
            name: { type: string }
            ip: { type: string, nullable: true }
            mac: { type: string, nullable: true }
            active: { type: boolean }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }
        entity:
          type: object
          description: Identidade mínima da clínica (whitelist — LGPD).
          properties:
            id: { type: string, format: uuid }
            code: { type: string }
            name: { type: string }
            subdomain: { type: string, nullable: true }
            city: { type: string, nullable: true }
            state: { type: string, nullable: true }
            country: { type: string, nullable: true }
            locale: { type: string, nullable: true }
            schedule_interval: { type: integer, nullable: true }
            active: { type: boolean }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }

    CheckTokenResponse:
      type: object
      properties:
        message: { type: string, example: Token válido. }
        valid: { type: boolean, example: true }
        renewed:
          type: boolean
          description: true quando a chamada renovou automaticamente a expiração (+7 dias).
          example: false
        expires_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-06-17T18:30:00.000000Z"

    EquipmentResource:
      type: object
      properties:
        id:
          type: string
          format: uuid
        attributes:
          type: object
          properties:
            integrator_id:
              type: string
              format: uuid
              nullable: true
            code:
              type: string
              nullable: true
            name:
              type: string
            ip:
              type: string
              nullable: true
            mac:
              type: string
              nullable: true
            serial_number:
              type: string
              nullable: true
            active:
              type: boolean
              nullable: true
            clinic_resource_id:
              type: string
              format: uuid
              nullable: true
            config_generation:
              type: integer
              minimum: 1
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    EquipmentUpsert:
      type: object
      description: Equipamento escopado. operation_id e Idempotency-Key iguais garantem replay durável; expected_config_generation
        impede atualizar configuração obsoleta. Campos nullable podem ser limpos nas operações P2.
      required:
      - name
      properties:
        name:
          type: string
          maxLength: 255
          description: Nome de identificação do equipamento na clínica.
          example: RETINOGRAFO CANON CR-2
        ip:
          type: string
          description: IP do equipamento na rede local da clínica.
          example: 192.168.0.45
          nullable: true
        mac:
          type: string
          pattern: ^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$
          description: Endereço MAC da interface de rede (separado por dois-pontos ou hífen).
          example: A4:5E:60:D1:2B:9C
          nullable: true
        serial_number:
          type: string
          maxLength: 100
          description: Número de série do fabricante.
          example: CR2-2024-008731
          nullable: true
        clinic_resource_id:
          type: string
          format: uuid
          nullable: true
        operation_id:
          type: string
          format: uuid
        installation_id:
          type: string
          format: uuid
        expected_config_generation:
          type: integer
          minimum: 1

    PatientResource:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
          - patient
        id:
          type: string
          format: uuid
        attributes:
          type: object
          additionalProperties: false
          properties:
            entity_id:
              type: string
              format: uuid
            person_id:
              type: string
              format: uuid
            code:
              type: string
            import_code:
              type: string
              nullable: true
            full_name:
              type: string
              nullable: true
            birth_date:
              type: string
              format: date
              nullable: true
            sex:
              type: string
              enum:
              - F
              - M
              nullable: true
            active:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          required:
          - entity_id
          - person_id
          - code
          - import_code
          - full_name
          - birth_date
          - sex
          - active
          - created_at
          - updated_at
        relationships:
          type: object
          additionalProperties: false
          properties:
            person:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
                full_name:
                  type: string
                  nullable: true
                birth_date:
                  type: string
                  format: date
                  nullable: true
                gender:
                  type: integer
                  nullable: true
            entity:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  format: uuid
      required:
      - type
      - id
      - attributes
      - relationships

    ExamTypeResource:
      type: object
      properties:
        id: { type: string, format: uuid }
        attributes:
          type: object
          properties:
            entity_id: { type: string, format: uuid, nullable: true }
            code: { type: string }
            name: { type: string }
            suffix: { type: string, nullable: true }
            category: { type: integer, nullable: true }
            active: { type: boolean, nullable: true }

    ScheduleResource:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
          - schedule
        id:
          type: string
          format: uuid
        attributes:
          type: object
          additionalProperties: false
          properties:
            clinic_date:
              type: string
              format: date
            entity_id:
              type: string
              format: uuid
            patient_id:
              type: string
              format: uuid
              nullable: true
            doctor_id:
              type: string
              format: uuid
              nullable: true
            code:
              type: string
            import_code:
              type: string
              nullable: true
            full_name:
              type: string
              nullable: true
            date_time:
              type: string
              format: date-time
            local_date_time:
              type: string
              format: date-time
            patient_birth_date:
              type: string
              format: date
              nullable: true
            patient_sex:
              type: string
              enum:
              - F
              - M
              nullable: true
            clinic_resource_ids:
              type: array
              items:
                type: string
                format: uuid
            situation:
              type: integer
              nullable: true
            active:
              type: boolean
            fulfillment:
              type: string
              enum:
              - unknown
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
          required:
          - clinic_date
          - entity_id
          - patient_id
          - doctor_id
          - code
          - import_code
          - full_name
          - date_time
          - local_date_time
          - patient_birth_date
          - patient_sex
          - clinic_resource_ids
          - situation
          - active
          - fulfillment
          - created_at
          - updated_at
      required:
      - type
      - id
      - attributes

    PatientExamResource:
      type: object
      properties:
        type:
          type: string
          example: patient_exams
        id:
          type: string
          format: uuid
        attributes:
          type: object
          properties:
            capture_id:
              type: string
              format: uuid
              nullable: true
            entity_id:
              type: string
              format: uuid
              nullable: true
            integrator_id:
              type: string
              format: uuid
              nullable: true
            content_sha256:
              type: string
              nullable: true
              pattern: ^[a-f0-9]{64}$
            content_bytes:
              type: integer
              nullable: true
            exam_id:
              type: string
              format: uuid
              nullable: true
            session_id:
              type: string
              format: uuid
              nullable: true
            availability:
              type: string
              enum:
              - original_available
              - unavailable
            review_state:
              type: string
              enum:
              - unknown
            fulfillment_state:
              type: string
              enum:
              - unknown
            review_url:
              type: string
              description: Caminho relativo autorizado /panel/eye-images com paciente e exame exatos; não implica revisão
                clínica.
            exam_performed_at:
              type: string
              format: date-time
              nullable: true
            patient_id:
              type: string
              format: uuid
              nullable: true
            doctor_id:
              type: string
              format: uuid
              nullable: true
            schedule_id:
              type: string
              format: uuid
              nullable: true
            entity_integrator_equipment_id:
              type: string
              format: uuid
              nullable: true
            code:
              type: string
              nullable: true
            archive:
              type: string
              nullable: true
              description: URL ASSINADA temporária (~24h) para o arquivo privado no S3.
            name:
              type: string
              nullable: true
            laterality:
              type: integer
              nullable: true
              enum:
              - 0
              - 1
              - 2
              description: 0=ambos/indefinido, 1=OD, 2=OE (conforme regra de negócio).
            active:
              type: boolean
              nullable: true
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            observation:
              type: string
              nullable: true
              maxLength: 1000
            derivative_status:
              type: string
              enum:
              - pending
              - ready
              - unsupported
              - failed
            derivative_error_code:
              type: string
              nullable: true
        relationships:
          type: object
          description: Presente apenas em respostas single (não em listagens). Campos minimizados (LGPD).
          properties:
            patient:
              $ref: '#/components/schemas/RelationPerson'
            doctor:
              $ref: '#/components/schemas/RelationPerson'
            schedule:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                code:
                  type: string
                date_time:
                  type: string
                  format: date-time
                  nullable: true
                situation:
                  type: integer
                  nullable: true
            equipment:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                code:
                  type: string
                  nullable: true
                name:
                  type: string

    RelationPerson:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string, nullable: true }
        full_name: { type: string, nullable: true }
        nickname: { type: string, nullable: true }

    ExamUpload:
      type: object
      description: Envio de exame para um paciente já identificado na URL (multipart/form-data).
      required:
      - exam_identifier
      - name
      - archive
      properties:
        capture_id:
          type: string
          format: uuid
          nullable: true
          description: UUID da aquisição, igual ao Idempotency-Key; obrigatório nos novos integradores.
        content_sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: Obrigatório com capture_id; calculado sobre o original enviado e verificado no servidor.
        schedule_identifier_namespace:
          type: string
          nullable: true
          enum:
          - uuid
          - system
          - import
        patient_identifier_namespace:
          type: string
          nullable: true
          enum:
          - uuid
          - system
          - import
        exam_performed_at:
          type: string
          format: date-time
          nullable: true
        exam_identifier:
          type: string
          description: Tipo de exame (ExamType) — aceita UUID, código (ETP-XXXXXXXXXX) ou só o número.
          example: ETP-0000000007
        schedule_identifier:
          type: string
          nullable: true
          description: Agendamento a vincular (opcional) — UUID, código (SDL-XXXXXXXXXX) ou número.
          example: SDL-0000004215
        equipment_identifier:
          type: string
          nullable: true
          description: Equipamento de origem (opcional) — UUID, código (EIQ-XXXXXXXXXX) ou número.
          example: EIQ-0000000002
        doctor_identifier:
          type: string
          nullable: true
          description: Médico solicitante (opcional) — UUID, código (DOC-XXXXXXXXXX) ou número. Se ausente, herda o
            médico do agendamento.
          example: DOC-0000000031
        name:
          type: string
          minLength: 3
          maxLength: 255
          description: Rótulo de exibição. Nome e hash iguais não identificam uma aquisição; uma nova captura cria outro
            registro. capture_id comprovado impede substituição do original.
          example: OCT-MACULA-20260610-PAC123-OD
        laterality:
          type: integer
          nullable: true
          enum:
          - 0
          - 1
          - 2
          description: 'Lateralidade do exame: 0 = ambos os olhos (AO), 1 = olho direito (OD), 2 = olho esquerdo (OE).'
          example: 1
        archive:
          type: string
          format: binary
          description: JPEG/PNG/BMP/PDF <=10MiB; arquivo .emr OCULUS-PDM-text-v1 UTF8 (BOM opcional), <=1MiB, onze labels
            whitelist, Patient ID obrigatório, sem HTML/controles/duplicatas. Não aceita binário arbitrário renomeado.
            Mesmo contrato flat/aninhado.
        observation:
          type: string
          nullable: true
          maxLength: 1000

    ExamUploadByIdentifier:
      type: object
      description: 'Envio de exame resolvendo o paciente automaticamente: informe schedule_identifier (paciente e médico
        vêm do agendamento) OU patient_identifier (não infere agendamento). Se ambos forem enviados, devem identificar
        o mesmo paciente.'
      required:
      - exam_identifier
      - name
      - archive
      properties:
        capture_id:
          type: string
          format: uuid
          nullable: true
          description: UUID da aquisição, igual ao Idempotency-Key; obrigatório nos novos integradores.
        content_sha256:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: Obrigatório com capture_id; calculado sobre o original enviado e verificado no servidor.
        schedule_identifier_namespace:
          type: string
          nullable: true
          enum:
          - uuid
          - system
          - import
        patient_identifier_namespace:
          type: string
          nullable: true
          enum:
          - uuid
          - system
          - import
        exam_performed_at:
          type: string
          format: date-time
          nullable: true
        exam_identifier:
          type: string
          description: Tipo de exame (ExamType) — aceita UUID, código (ETP-XXXXXXXXXX) ou só o número.
          example: ETP-0000000007
        schedule_identifier:
          type: string
          nullable: true
          description: Agendamento — UUID, código (SDL-XXXXXXXXXX) ou número. Obrigatório se patient_identifier ausente.
          example: SDL-0000004215
        patient_identifier:
          type: string
          nullable: true
          description: Paciente — UUID, código (PAC-XXXXXXXXXX) ou número. Obrigatório se schedule_identifier ausente.
          example: PAC-0000000123
        equipment_identifier:
          type: string
          nullable: true
          description: Equipamento de origem (opcional) — UUID, código (EIQ-XXXXXXXXXX) ou número.
          example: EIQ-0000000002
        name:
          type: string
          minLength: 3
          maxLength: 255
          description: Rótulo de exibição. Nome e hash iguais não identificam uma aquisição; uma nova captura cria outro
            registro. capture_id comprovado impede substituição do original.
          example: OCT-MACULA-20260610-PAC123-OD
        laterality:
          type: integer
          nullable: true
          enum:
          - 0
          - 1
          - 2
          description: 'Lateralidade do exame: 0 = ambos os olhos (AO), 1 = olho direito (OD), 2 = olho esquerdo (OE).'
          example: 1
        archive:
          type: string
          format: binary
          description: JPEG/PNG/BMP/PDF <=10MiB; arquivo .emr OCULUS-PDM-text-v1 UTF8 (BOM opcional), <=1MiB, onze labels
            whitelist, Patient ID obrigatório, sem HTML/controles/duplicatas. Não aceita binário arbitrário renomeado.
            Mesmo contrato flat/aninhado.
        observation:
          type: string
          nullable: true
          maxLength: 1000

    ReceiptReconciliation:
      type: object
      required: [capture_id, content_sha256, content_bytes, patient_identifier, schedule_identifier, exam_identifier, equipment_identifier, laterality]
      properties:
        capture_id: { type: string, format: uuid }
        content_sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
        content_bytes: { type: integer, minimum: 1, maximum: 10485760 }
        patient_identifier: { type: string, format: uuid }
        schedule_identifier: { type: string, format: uuid, nullable: true }
        exam_identifier: { type: string, format: uuid }
        equipment_identifier: { type: string, format: uuid }
        laterality: { type: integer, nullable: true, enum: [0, 1, 2] }
        exam_performed_at: { type: string, format: date-time, nullable: true }

    EmrOculusText:
      type: string
      description: 'UTF8 texto labels: Last Name, First Name, Patient ID, Exam Eye, Exam Date, Exam Time, Display, Exam
        Infotext. Patient ID obrigatório; datas DD.MM.YYYY; hora HH:MM[:SS]; olho R/L/Right/Left/Both/OD/OE/AO; labels
        únicas; cada valor <=512 caracteres; total <=512 linhas/1MiB; HTML/controles e desconhecidos rejeitados. Labels
        opcionais adicionais do export original: Date of Birth (DD.MM.YYYY), Patient Comment 1, Patient Comment 2; comentários
        vazios permitidos. Sem inferir identidade clínica dessas strings. Labels opcionais adicionais do export original:
        Date of Birth (DD.MM.YYYY), Patient Comment 1, Patient Comment 2; comentários vazios permitidos. Sem inferir
        identidade clínica dessas strings. Labels opcionais adicionais do export original: Date of Birth (DD.MM.YYYY),
        Patient Comment 1, Patient Comment 2; comentários vazios permitidos. Sem inferir identidade clínica dessas strings.
        Labels opcionais adicionais do export original: Date of Birth (DD.MM.YYYY), Patient Comment 1, Patient Comment
        2; comentários vazios permitidos. Sem inferir identidade clínica dessas strings. Labels opcionais adicionais
        do export original: Date of Birth (DD.MM.YYYY), Patient Comment 1, Patient Comment 2; comentários vazios permitidos.
        Sem inferir identidade clínica dessas strings.'

    UpdateMetadata:
      type: object
      additionalProperties: false
      properties:
        release_id:
          type: string
          format: uuid
        version:
          type: string
        platform:
          type: string
          enum:
          - windows
          - linux
          - macos
        arch:
          type: string
          enum:
          - x86
          - x86_64
          - aarch64
        sha256:
          type: string
        issued_at:
          type: string
        expires_at:
          type: string
        channel:
          type: string
          enum:
          - pilot
          - stable
        cohort:
          type: string
        min_client_version:
          type: string
        min_os_version:
          type: string
        asset_signature:
          type: string
        key_id:
          type: string
          enum:
          - release-v1
        schema_version:
          type: integer
          enum:
          - 2
        sequence:
          type: integer
          minimum: 1
        size_bytes:
          type: integer
          minimum: 1
          maximum: 268435456
        min_contract_version:
          type: integer
          minimum: 1
        max_os_version:
          type: string
          nullable: true
        rollback_from:
          type: string
          nullable: true
      required:
      - release_id
      - version
      - platform
      - arch
      - sha256
      - issued_at
      - expires_at
      - channel
      - cohort
      - min_client_version
      - min_os_version
      - asset_signature
      - key_id
      - schema_version
      - sequence
      - size_bytes
      - min_contract_version
      - max_os_version
      - rollback_from
    UpdateManifest:
      type: object
      additionalProperties: false
      properties:
        version:
          type: string
        platform:
          type: string
        arch:
          type: string
        url:
          type: string
          format: uri
          nullable: false
        sha256:
          type: string
        signature:
          type: string
        metadata:
          $ref: '#/components/schemas/UpdateMetadata'
          nullable: true
        manifest_signature:
          type: string
          nullable: true
        metadata_verified:
          type: boolean
        installable:
          type: boolean
        blocked_reason:
          type: string
          nullable: true

    Snapshot:
      type: object
      additionalProperties: false
      properties:
        clinic_timezone:
          type: string
        contract_version:
          type: integer
          enum:
          - 1
        snapshot_id:
          type: string
          format: uuid
        entity_id:
          type: string
          format: uuid
        integrator_id:
          type: string
          format: uuid
        clinic_resource_id:
          type: string
          format: uuid
        date_from:
          type: string
          format: date
        date_to:
          type: string
          format: date
        generated_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        complete:
          type: boolean
          enum:
          - true
        truncated:
          type: boolean
          enum:
          - false
        patients:
          type: array
          maxItems: 500
          items:
            $ref: '#/components/schemas/PatientResource'
        schedules:
          type: array
          maxItems: 500
          items:
            $ref: '#/components/schemas/ScheduleResource'
      required:
      - clinic_timezone
      - contract_version
      - snapshot_id
      - entity_id
      - integrator_id
      - clinic_resource_id
      - date_from
      - date_to
      - generated_at
      - expires_at
      - complete
      - truncated
      - patients
      - schedules
    QueueHealth:
      type: object
      additionalProperties: false
      properties:
        pending_count:
          type: integer
          minimum: 0
        failed_count:
          type: integer
          minimum: 0
        blocked_count:
          type: integer
          minimum: 0
        sent_last_24h_count:
          type: integer
          minimum: 0
        problems:
          type: array
          maxItems: 50
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: integer
              file_name:
                type: string
                maxLength: 255
              status:
                type: string
                enum:
                - failed
                - blocked
              schedule_identifier:
                type: string
                nullable: true
                maxLength: 32
              patient_identifier:
                type: string
                nullable: true
                maxLength: 64
              last_error:
                type: string
                nullable: true
                maxLength: 500
              attempts:
                type: integer
                minimum: 0
              api_status:
                type: integer
                nullable: true
              updated_at:
                type: string
                format: date-time
            required:
            - id
            - file_name
            - status
            - attempts
            - updated_at
        operational:
          type: object
          additionalProperties: false
          properties:
            version:
              type: string
              maxLength: 32
              pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-[A-Za-z0-9.-]+)?$
            scope:
              type: string
              pattern: ^[a-f0-9]{64}$
            heartbeat_at:
              type: string
              format: date-time
              nullable: true
            capabilities:
              type: object
              additionalProperties: false
              properties:
                folder_capture:
                  type: boolean
                dicom_storage:
                  type: boolean
                dicom_mwl:
                  type: boolean
                ocr:
                  type: boolean
                rpa:
                  type: boolean
            watcher_state:
              type: string
              enum:
              - unknown
              - active
              - inactive
              nullable: true
            mwl_state:
              type: string
              enum:
              - unknown
              - active
              - inactive
              nullable: true
            ingest_pending:
              type: integer
              minimum: 0
            quarantined:
              type: integer
              minimum: 0
            acquisition_rejected:
              type: integer
              minimum: 0
            unconfirmed_sent:
              type: integer
              minimum: 0
            originals_pending_remote_archive:
              type: integer
              minimum: 0
            oldest_pending_at:
              type: string
              format: date-time
              nullable: true
            disk_free_bytes:
              type: integer
              minimum: 0
            devices:
              type: array
              maxItems: 100
              items:
                type: object
                additionalProperties: false
                properties:
                  equipment_id:
                    type: integer
                    minimum: 1
                  remote_equipment_id:
                    type: string
                    format: uuid
                    nullable: true
                  last_observed_at:
                    type: string
                    format: date-time
                    nullable: true
                  last_accepted_at:
                    type: string
                    format: date-time
                    nullable: true
                  rejected_count:
                    type: integer
                    minimum: 0
                  issue:
                    type: string
                    enum:
                    - dicom_invalid_or_unavailable
                    - source_or_spool_unavailable
                    - upload_size_exceeded
                    - unsupported_file_type
                    - format_incomplete
                    - file_not_ready
                    - pdf_tools_unavailable
                    - pdf_parse_failed
                    - pdf_identity_conflict
                    - pdf_resource_limit
                    - emr_invalid_structure
                    - emr_duplicate_field
                    - emr_unsupported_field
                    - emr_encoding_invalid
                    nullable: true
            next_action:
              type: string
            configuration_sync:
              type: object
              additionalProperties: false
              properties:
                pending:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                needs_review:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                last_success_at:
                  type: string
                  format: date-time
                  nullable: true
              required:
              - pending
              - needs_review
            worklist:
              type: array
              maxItems: 100
              items:
                type: object
                additionalProperties: false
                properties:
                  equipment_id:
                    type: integer
                    minimum: 1
                  state:
                    type: string
                    enum:
                    - fresh
                    - offline_snapshot
                    - blocked
                    - unavailable
                    - refresh_failed
                  source:
                    type: string
                    enum:
                    - snapshot_api
                    - cache
                    - policy
                    - api
                  fetched_at:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  resource_id:
                    type: string
                    format: uuid
                    nullable: true
                  last_error_code:
                    type: string
                    enum:
                    - resource_required
                    - agenda_unavailable
                    - snapshot_refresh_failed
                    nullable: true
                required:
                - equipment_id
                - state
                - source
            update:
              type: object
              additionalProperties: false
              properties:
                state:
                  type: string
                  enum:
                  - not_configured
                  - prepared
                  - downloaded
                  - installing
                  - awaiting_restart
                  - reboot_required
                  - failed
                  - installed
                  nullable: true
                channel:
                  type: string
                  enum:
                  - pilot
                  - stable
                  nullable: true
                cohort:
                  type: string
                  pattern: ^[a-z0-9][a-z0-9_-]{0,63}$
                  nullable: true
                installed_version:
                  type: string
                  maxLength: 32
                  nullable: true
                  pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-[A-Za-z0-9.-]+)?$
                last_error_code:
                  type: string
                  enum:
                  - interrupted_installation_review_required
                  - installer_failed
                  - installer_outcome_uncertain
                  - installer_not_started
                  - operator_recovery_confirmed
                  nullable: true
          required:
          - version
          - scope
          - ingest_pending
          - quarantined
          - acquisition_rejected
          - devices
          - next_action
          nullable: true
      required:
      - pending_count
      - failed_count
      - blocked_count
      - sent_last_24h_count
      - problems
      description: Bounded legacy problem input is accepted, but patient/schedule identifiers and free error text are
        never persisted or returned. File names become a server-secret HMAC technical reference. Only counters, timestamps,
        typed issue codes and HTTP status survive. Current stale snapshot minimized after30days; aggregate trend retained7days.

    CommandResult:
      type: object
      additionalProperties: false
      properties:
        scanned_folders:
          type: integer
          minimum: 0
        queued_files:
          type: integer
          minimum: 0
        sent:
          type: integer
          minimum: 0
        failed_or_blocked:
          type: integer
          minimum: 0
        pending:
          type: integer
          minimum: 0
        failed:
          type: integer
          minimum: 0
        blocked:
          type: integer
          minimum: 0
        ingest_pending:
          type: integer
          minimum: 0
        quarantined:
          type: integer
          minimum: 0
        rejected:
          type: integer
          minimum: 0
        disk_free_bytes:
          type: integer
          minimum: 0
        configuration_generation:
          type: integer
          minimum: 0
        schema_version:
          type: integer
          enum:
          - 1
        app_version:
          type: string
          maxLength: 32
        reloaded:
          type: boolean
        semantics:
          type: string
          enum:
          - configuration_read_on_use
        capabilities:
          type: object
          additionalProperties: false
          properties:
            pdf:
              type: boolean
            rpa:
              type: boolean
            dicom:
              type: boolean
            emr:
              type: boolean
        devices:
          type: array
          maxItems: 32
          items:
            type: object
            additionalProperties: false
            properties:
              equipment_id:
                type: integer
                minimum: 1
              remote_equipment_id:
                type: string
                format: uuid
                nullable: true
              last_observed_at:
                type: string
                format: date-time
                nullable: true
              last_accepted_at:
                type: string
                format: date-time
                nullable: true
              rejected_count:
                type: integer
                minimum: 0
              issue:
                type: string
                enum:
                - dicom_invalid_or_unavailable
                - source_or_spool_unavailable
                - upload_size_exceeded
                - unsupported_file_type
                - format_incomplete
                - file_not_ready
                - pdf_tools_unavailable
                - pdf_parse_failed
                - pdf_identity_conflict
                - pdf_resource_limit
                - emr_invalid_structure
                - emr_duplicate_field
                - emr_unsupported_field
                - emr_encoding_invalid
                nullable: true
              issue_code:
                type: string
                enum:
                - dicom_invalid_or_unavailable
                - source_or_spool_unavailable
                - upload_size_exceeded
                - unsupported_file_type
                - format_incomplete
                - file_not_ready
                - pdf_tools_unavailable
                - pdf_parse_failed
                - pdf_identity_conflict
                - pdf_resource_limit
                - emr_invalid_structure
                - emr_duplicate_field
                - emr_unsupported_field
                - emr_encoding_invalid
                nullable: true
        watcher_state:
          type: string
          enum:
          - unknown
          - active
          - inactive
        mwl_state:
          type: string
          enum:
          - unknown
          - active
          - inactive
        error_code:
          type: string
          enum:
          - diagnostics_failed
          - resync_failed
          - reload_failed
          - unsupported_command
          - scope_changed
          - command_expired
          - command_failed
        total_devices:
          type: integer
          minimum: 0
          maximum: 4294967295
        devices_truncated:
          type: boolean

    CommandAck:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
          enum:
          - completed
          - failed
        result:
          $ref: '#/components/schemas/CommandResult'
          nullable: true
      required:
      - status
    CommandResource:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        id:
          type: string
          format: uuid
        attributes:
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              enum:
              - resync_now
              - run_diagnostics
              - reload_config
            payload:
              type: object
              additionalProperties: false
              properties: {}
            created_at:
              type: string
              format: date-time
            expires_at:
              type: string
              format: date-time
    ClinicResource:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        id:
          type: string
          format: uuid
        attributes:
          type: object
          additionalProperties: false
          properties:
            entity_id:
              type: string
              format: uuid
            name:
              type: string
            type:
              type: string
              enum:
              - equipment
            active:
              type: boolean
